body{
    background-color: black;
}
.navbar-brand{
    color: lightblue;
    font-size: 50px;
}
.navbar-brand:hover{
    color: red;
}
.nav-item {
    font-size: 20px;
}
#aboutus{
    font-family: Arial, Helvetica, sans-serif;
}
#aboutus h1{
font-size: 60px;
color: white;
text-shadow: 5px 5px 5px purple;
}
#aboutus p{
    color: white;
font-size: 30px;
}
#home h3{
    color: white;
}
#home h5{
    color: rebeccapurple;
}
#home a{
    text-decoration: none;
    color: aqua;
    line-height: 40px;
}
#home a:hover{
    opacity: 1;
}
footer a{
    text-decoration: none;
    color: gray;
    margin-top: 10px;
    font-size: 13px;
}
i{
    color: white;
    margin: 80px 0px;
}
option{
    margin-top: 150px;
}
